includeConfig "conf/modules.config"
includeConfig "conf/containers.config"

manifest {
    name            = 'Population Read Simulation Pipeline'
    author          = 'WSI'
    homePage        = 'https://github.com/advISO-project/pop_var_sim/'
    description     = 'A pipeline to simulate read sets for populations.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.10.3'
    version         = 'v0.1.0'
}



plugins {
  id 'nf-schema@2.2.0'
}


params {
    haplotype_manifest = null
    sample_design_file = null
    run_name = null
    outdir = "./results"
 
    // The following parameters for art are "core" and determined by pipeline logic; 
    // additional can be configured via the art_params parameter.
    // -c, -i, -o, -d, -p, -na -amp 
    art_params = "-l 150 -rs 42 -ss MSv3 -s 20 -m 275"

    //user-irrelevant
    _trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
}

//TODO: fix this

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params._trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params._trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params._trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params._trace_timestamp}.html"
}

manifest {
    name            = "Population Read Simulation Pipeline"
    author          = """WSI / AdvISO"""
    homePage        = ""
    description     = """A pipeline to simulate read sets for populations."""
    mainScript      = "main.nf"
    nextflowVersion = '!>=23.04.0'
    version         = '0.0.1'
}