process {
    withName: run_art {
        ext.args = "-l 150 -na -p -rs 42 -ss HS25 -s 20 -m 275"
    }


    withName: merge_files {
        publishDir = [
            path: { "${params.outdir}/fastqs" },
            mode: "copy"
        ]
    }

    withName: write_output_manifest {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy"
        ]
    }

    withName: run_multiqc {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy"
        ]
    }
}